<%- include('partials/header');  -%> 
<%- include('partials/primary-nav'); -%>
	<div class="main-content">
		<div class="inner-container">
			<h2 class="store-name">IVape Nepal</h2>
		</div>
	</div>
<%- include('partials/footer'); -%>